{% extends 'mainproject/base.html' %}
{% load static %}
{% block content %}

<div class="statistics">
    <div class="container">
        <div class="row">
            <h1>Following</h1>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <img src="{% static 'images/statistics.png' %}" alt="home" style="margin: 10px 10px;"> 
                        </div>
                        <div class="col-sm-2">
                            <img src="{% static 'images/statistics.png' %}" alt="home" style="margin: 10px 10px;">
                        </div>
                        <div class="col-sm-2">
                            <img src="{% static 'images/statistics.png' %}" alt="home" style="margin: 10px 10px;">
                        </div>
                        <div class="col-sm-2">
                            <img src="{% static 'images/statistics.png' %}" alt="home" style="margin: 10px 10px;">
                        </div>
                        <div class="col-sm-2">
                            <img src="{% static 'images/statistics.png' %}" alt="home" style="margin: 10px 10px;">
                        </div>
                        <div class="col-sm-2">
                            <img src="{% static 'images/statistics.png' %}" alt="home" style="margin: 10px 10px;">
                        </div>
                    </div>
                </div>   
        </div>
    </div>
</div>

<div class="content-sec">
    <div class="container">
        <div class="row">
            <h1>Saved Content</h1>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                    <div class="col-sm-3">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}