{% extends 'mainproject/base.html' %}
{% load static %}
{% block content %}

<div class="dashboard">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-4">
                <div class="sidebar">
                    
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section1">
                                
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 84px; margin-top: -65px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section2">
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 84px; margin-top: -64px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section3">
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 85px; margin-top: -63px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section4">
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 86px; margin-top: -63px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section5">
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 86px; margin-top: -63px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section6">
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 86px; margin-top: -63px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section7">
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 86px; margin-top: -63px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="section8">
                                <img src="{% static 'images/human.png' %}" class="sec-img" style="margin: 15px 15px;">
                                <p class="text-sidebar" style="color: #fff; font-size: 30px; margin-left: 86px; margin-top: -63px;">Andy</p>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #fff; border-radius: 19px; margin-left: 236px; margin-top: -90px; width: 50px; " >$5</button>
                                <button type="button" class="btn btn-lg" style="color: #000; font-size: 20px; background-color: #C4C4C4; border-radius: 19px; margin-left: 306px; margin-top: -137px; width: 50px; " >$5</button>
                            </div>
                        </div>
                    </div>

                   

                </div>
            </div>
            <div class="col-sm-8">
                <div class="search-bar">
                <input type="text" placeholder="Search..">
                
                

                

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> 

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> 

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        
                        <div class="col-sm-4">
                            <iframe width="250" height="250" src="https://www.youtube.com/embed/vE6xHY2dHJM" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div> 
                
                                 
            
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}